Debug (*.*)/
Release (*.*)/

*.vcxproj.user
*.opensdf
*.sdf
*.suo
ipch/
*.VC.db
*.VC.VC.opendb

xcuserdata/

*.sublime-workspace

C-Examples
SUEX_UsingSWIG/src/Swig_output.*
Debug/
Release/
!ThirdParty/bin/win32/swig/*.*
