// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//
// https://nshipster.com/xcconfig/

HEADER_SEARCH_PATHS = $(inherited) "../ThirdParty/include/ruby/2.7/mac"
HEADER_SEARCH_PATHS[arch=arm64] = $(inherited) "../ThirdParty/include/ruby/2.7/mac/arm64-darwin20"
HEADER_SEARCH_PATHS[arch=x86_64] = $(inherited) "../ThirdParty/include/ruby/2.7/mac/x86_64-darwin14"
